body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  h1 {
    color: #333;
  }

#vendedorProducto {
  width: 150px;
  padding: 6px;
  font-size: 10px;
}

  .producto {
    background: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
  }

  

